/* Enter your custom styles here */

.marginPanel {
    margin-top: 10px; /* 원하는 여백 값 */
}

.customToolbar {
    background-color: #D8D8D8 !important;
}

.bold {
    font-weight: 900;
}

.centeredText {
    margin: 6px;
}